{% extends '::base.html.twig' %}

{% block menu %}
    {% set origen = 'acceso_proyectos' %}
    {% include '::menu_principal.html.twig' %}
{% endblock menu %}
 
{% block style %}
    <style>
        .padd{
            padding: 10px 10px 30px 40px;
        }
        .madd {
            margin-bottom: 0px;
            font:bold;
            padding-left: 10px;
            font-size: 17px;
            line-height: 21px;
            color: black;
            width: 95%;
        }
    </style>
{% endblock style %}

{% block body -%}
    <div class="row-fluid sortable">
        <div class="box span8">
            <div class="box-header well" data-original-title>
                <h2><i class="icon-list-alt"></i> Detalles del proyecto</h2>
                <div class="box-icon">
                    <a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
                </div>
            </div>
            <div class="box-content">
                <div STYLE='text-align:right;'>
                    {% if entity.proEstado == 1 %}
                        <span class="label label-success">Activo</span>
                    {% else %}
                        <span class="label">Inactivo</span>
                    {% endif %}
                </div>
                <div class='row-fluid'>
                    <legend class='madd'><b>Nombre</b></legend>
                    <div class='padd'>{{ entity.proNombre }}</div>
                </div>
                {% if entity.proDescripcion %}
                    <div class='row-fluid'>
                        <legend class='madd'><b>Descripción</b></legend>
                        <div class='padd'>{{ entity.proDescripcion }}</div>
                    </div>
                {% endif %}
                {% if entity.proProblema %}
                    <div class='row-fluid'>
                        <legend class='madd'><b>Pregunta Problema</b></legend>
                        <div class='padd'>{{ entity.proProblema }}</div>
                    </div>
                {% endif %}
                {% if entity.proConclusiones %}
                    <div class='row-fluid'>
                        <legend class='madd'><b>Conclusiones</b></legend>
                        <div class='padd'>{{ entity.proConclusiones }}</div>
                    </div>
                {% endif %}
                {% if entity.proDemostraciones %}
                    <div class='row-fluid'>
                        <legend class='madd'><b>Demostración</b></legend>
                        <div class='padd'>{{ entity.proDemostraciones }}</div>
                    </div>
                {% endif %}
                {% if entity.proRecomendaciones %}
                    <div class='row-fluid'>
                        <legend class='madd'><b>Recomendaciones</b></legend>
                        <div class='padd'>{{ entity.proRecomendaciones }}</div>
                    </div>
                {% endif %}
                <div class='row-fluid'>
                    <legend class='madd'><b>Estado del proyecto</b></legend>
                    <div class='padd'>{{ entity.eprEstadoProyecto }}</div>
                </div>
                <div class='row-fluid'>
                    <legend class='madd'><b>Tipo de investigación</b></legend>
                    <div class='padd'>{{ entity.tinNombreTipo }}</div>
                </div>
                <div class='row-fluid'>
                    <legend class='madd'><b>Línea de investigación</b></legend>
                    <div class='padd'>{{ entity.linNombreInvestigacion }}</div>
                </div>
                <div class='row-fluid'>
                    <legend class='madd'><b>Creado por</b></legend>
                    <div class='padd'>{{ entity.usuApellido ~ ' ' ~ entity.usuNombre }}<br>{{ entity.proFechaCreacion|date('Y-m-d H:i:s') }}</div>
                </div>
                <div class="control-group" style="margin-bottom: 8px; text-align: right;">
                    <a href="{{ path('proyectos') }}" class="btn btn-primary"/>Volver al listado</a>
                    <div style='display:inline-block;'>{{ form(delete_form, {'attr':{'id':'formdelete'}}) }}</div>
                    <a href="{{ path('proyectos_edit', { 'id': entity.id }) }}" class="btn btn-primary btn-info"/>Editar</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
    
{% block script %}
    <script>
        // Confirmacion de eliminar un proyecto
        $('.confirm').click(function(){
            if (confirm('¿Desea eliminar este proyecto?')) {
                $('#formdelete').submit();
            }
        });
    </script>
{% endblock script %}