{% set origen = (origen is defined) ? origen : '' %}
   
<li {% if origen == 'acceso_home' %}class='active'{% endif %}>
    <a class="ajax-link" href="{{ path("homepage") }}"><i class="icon-home"></i><span class="hidden-tablet"> Inicio</span></a>
</li>
<li>
    <a class="ajax-link" href="#"><i class="icon-list-alt"></i><span class="hidden-tablet"> Proyectos</span></a>
</li>
<li {% if origen == 'acceso_tipo_investigacion' %}class='active'{% endif %}>
    <a class="ajax-link" href="{{ path("tipoinvestigacion") }}"><i class="icon-align-justify"></i><span class="hidden-tablet"> Tipos de investigación</span></a>
</li>
<li {% if origen == 'acceso_linea_investigacion' %}class='active'{% endif %}>
    <a class="ajax-link" href="{{ path("lineainvestigacion") }}"><i class="icon-align-justify"></i><span class="hidden-tablet"> Línea de investigación</span></a>
</li>
<li {% if origen == 'acceso_estados_proyectos' %}class='active'{% endif %}>
    <a class="ajax-link" href="{{ path("estadoproyecto") }}"><i class="icon-align-justify"></i><span class="hidden-tablet"> Estados de proyectos</span></a>
</li>
<li {% if origen == 'acceso_organizaciones' %}class='active'{% endif %}>
    <a class="ajax-link" href="{{ path("organizacion") }}"><i class="icon-align-justify"></i><span class="hidden-tablet"> Organizaciones</span></a>
</li>
<li {% if origen == 'acceso_cargo' %}class='active'{% endif %}>
    <a class="ajax-link" href="{{ path("cargo") }}"><i class="icon-align-justify"></i><span class="hidden-tablet"> Cargos</span></a>
</li>
<li {% if origen == 'acceso_departamento' %}class='active'{% endif %}>
    <a class="ajax-link" href="{{ path("departamento") }}"><i class="icon-align-justify"></i><span class="hidden-tablet"> Departamentos</span></a>
</li>
