{% extends "::base.html.twig" %}

{% block menu %}
    {% set origen = 'instrumentos' %}
    {% include '::menu_principal.html.twig' %}
{% endblock menu %}


{% block body %}
<div class="row-fluid sortable">
    <div class="box span8">
        <div class="box-header well" data-original-title>
            <h2><i class="icon-tasks"></i> Instrumentos</h2>
            <div class="box-icon">
                <a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
            </div>
        </div>
        <div class="box-content">
            <table class="table table-striped table-bordered bootstrap-datatable datatable">
              <thead>
                  <tr>
                      <th>Tipo</th>
                      <th>Nombre</th>
                      <th>Proyecto</th>
                      <th>Estado</th>
                      <th>Duración</th>
                      <th>Opciones</th>
                  </tr>
              </thead>   
              <tbody>
                {% for instrumento in instrumentos %}
                  <tr>
                      <td style="width: 80px;">{{ instrumento.theNombreHerramienta }}</td>
                      <td>{{ instrumento.herNombreHerramienta }}</td>
                      <td>{{ instrumento.proNombre }}</td>
                      <td>{% if instrumento.herEstado %}<span class="label label-success">Activo</span>{% else %}<span class="label label-inverse">Inactivo</span>{% endif %}</td>
                      <td style="font-size: 10px;">
                        {% if instrumento.herFechaInicio %}Desde: {{ instrumento.herFechaInicio|date('Y-m-d') }}{% endif %}
                        {% if instrumento.herFechaFin %}Hasta: {{ instrumento.herFechaFin|date('Y-m-d') }}{% endif %}
                      </td>
                      <td class="center" style="font-size: 10px; width: 95px;">
                        <a class="btn btn-success btn-mini" href="{{ path('show_instrumento', {'id': instrumento.id }) }}" data-rel="tooltip" title="Ver">
                            <i class="icon-zoom-in icon-white"></i>        
                        </a>
                        <a class="btn btn-info btn-mini" href="{{ path('edit_instrumento', {'id': instrumento.id }) }}" data-rel="tooltip" title="Editar">
                            <i class="icon-edit icon-white"></i>            
                        </a>
                        <a class="btn btn-danger btn-mini btn-delete" href="{{ path('delete_instrumento', {'id': instrumento.id }) }}" data-rel="tooltip" title="Eliminar">
                            <i class="icon-trash icon-white"></i>
                        </a>
                     </td>
                  </tr>
                {% endfor %}                
              </tbody>
          </table>            
        </div>
    </div>
    <div class="box span4">
        <div class="box-header well" data-original-title>
            <h2><i class="icon-edit"></i> Crear instrumento</h2>
            <div class="box-icon">
                <a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
            </div>
        </div>
        <div class="box-content">
            
            {# Formulario de instrumento #}
            <form class="form-horizontal" action="{{ path('instrumentos') }}" method="POST" style="margin-bottom: 0px;">
                <fieldset>
                    <div class="control-group" style="margin-bottom: 8px;">
                        Tipo de instrumento:
                        {{ form_widget(form.tipoInstrumento, {'attr':{'class':'input-large span12'} }) }}                                
                    </div>
                    <div class="control-group" style="margin-bottom: 8px;">
                        Nombre:
                        {{ form_widget(form.nombre, {'attr':{'class':'input-large span12', 'placeholder':'Nombre del instrumento'} }) }}                                
                    </div>
                    <div class="control-group" style="margin-bottom: 8px;">
                        Fecha de inicio:
                        {{ form_widget(form.fechaInicio, {'attr':{'class':'input-large span12 datepicker', 'placeholder':'yyyy-mm-dd'} }) }}                                
                    </div>
                    <div class="control-group" style="margin-bottom: 8px;">
                        Fecha de finalización:
                        {{ form_widget(form.fechaFin, {'attr':{'class':'input-large span12 datepicker', 'placeholder':'yyyy-mm-dd'} }) }}                                
                    </div>
                    <div class="control-group" style="margin-bottom: 8px;">
                        Proyecto:
                        <select id="form_proyecto" name="form[proyecto]" class="input-large span12" data-rel="chosen">
                            <option value="">Seleccionar despues</option>
                            {% for proyecto in proyectos %}
                                <option value="{{ proyecto.id }}">{{ proyecto.proNombre }}</option>
                            {% endfor %}
                        </select>                               
                    </div>
                    <div class="control-group" style="margin-bottom: 8px;">
                        Activo
                        {{ form_widget(form.estado) }} 
                    </div>
                    {{ form_errors(form) }}
                    {{ form_widget(form._token) }}
                    <div class="control-group" style="margin-bottom: 8px; text-align: right;">
                        <input type="submit" value="Crear instrumento" class="btn btn-primary btn-info"/>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
{% endblock body %}