{% extends "::base.html.twig" %}

{% block menu %}
    {% set origen = 'instrumentos' %}
    {% include '::menu_principal.html.twig' %}
{% endblock menu %}

{% block style %}
<style>
    #ol-opciones li{
        margin-bottom: 2px;
    }
    
</style>
{% endblock style %}

{% block body %}
<div class="row-fluid">
    <div class="span8">
        <h1>{{ instrumento.theNombreHerramienta }}: {{ instrumento.herNombreHerramienta }}</h1>
        {% if instrumento.proNombre %} En el proyecto: {{ instrumento.proNombre }}{% endif %}
    </div>
    <div class="span4">
        {% if instrumento.herEstado %}<span class="label label-success">Activo</span>{% else %}<span class="label label-inverse">Inactivo</span>{% endif %}
        <br/>
        {% if instrumento.herFechaInicio %}Desde: {{ instrumento.herFechaInicio|date('Y-m-d') }}<br/>{% endif %}
        {% if instrumento.herFechaFin %}Hasta: {{ instrumento.herFechaFin|date('Y-m-d') }}{% endif %}
    </div>
</div>
<div class="row-fluid">
    {# FORMULARIO DE PREGUNTA #}
    <div class="box span12">
        <div class="box-header well" data-original-title>
            <h2><i class="icon-edit"></i> Crear pregunta</h2>
            <div class="box-icon">
                <a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
            </div>
        </div>
        <div class="box-content">
            <form class="form-horizontal" action="{{ path('show_instrumento', {'id':instrumento.id}) }}" method="POST" style="margin-bottom: 0px;">
                <fieldset>
                    <div class="row-fluid">
                        <div class="control-group span4" style="margin-bottom: 8px;">
                            Tipo de pregunta:
                            <i data-rel="popover" data-content="Use preguntas abiertas para obtener respuestas más amplias y detalladas. <br/> Use preguntas de opción múltiple para obtener una mejor medición o calificación." title="Seleccione el tipo de pregunta" class="icon-info-sign help-tooltip"></i>
                            {{ form_widget(form.tipoPregunta, {'attr':{'class':'input-large span12'} }) }}                                
                        </div>
                        <div class="control-group span1" style="margin-bottom: 8px;" >
                            Orden:
                            <i data-rel="popover" data-content="Este campo le permite ordenar las pregunas en el orden que usted crea conveniente." title="Indique el número de la pregunta" class="icon-info-sign help-tooltip"></i>
                            {{ form_widget(form.orden, {'attr':{'class':'span12', 'type':'numeric'} }) }}                                
                        </div>
                        <div class="control-group span4" style="margin-bottom: 8px; padding-top: 10px;">
                            <span >{{ form_widget(form.obligatoria) }} Obligatoria</span>                              
                            <i data-rel="popover" data-content="Indica si el usuario debe obligatoriamente responder o no esta pregunta." title="Obligatoria" class="icon-info-sign help-tooltip"></i>
                            <br/>
                            <span>{{ form_widget(form.estado) }} Activa </span>                              
                            <i data-rel="popover" data-content="Indica si la pregunta esta oculta o activa." title="Activa" class="icon-info-sign help-tooltip"></i>
                        </div>
                    </div>
                    <div class="control-group" style="margin-bottom: 8px;">
                        Pregunta:
                        <i data-rel="popover" data-content="Ingrese el texto de la pregunta" title="Pregunta" data-placement="top" class="icon-info-sign help-tooltip"></i>
                        {{ form_widget(form.pregunta, {'attr':{'class':'input-large span12'} }) }}                                
                    </div>
                    <div class="control-group div-opciones" style="display: none; margin-bottom: 4px;">
                        <span>Opciones de respuesta:</span>
                        <a id="btn-add-opcion" class="btn btn-primary btn-info btn-mini" href="#" data-rel="tooltip" title="Agregar opción">
                            <i class="icon-plus icon-white"></i>
                        </a>
                    </div>
                    <div class="control-group div-opciones" style="display: none; margin-bottom: 8px;">
                        <ol id="ol-opciones">
                            <li>
                                <input type="text" name="opciones[]" class="input-large span9" style="display:inline;"/>
                                peso: 
                                <input type="text" name="peso[]" value="0" class="input-large span1" style="display:inline;"/>
                                <i  data-rel="popover" data-placement="left" class="icon-info-sign help-tooltip" title="Opciones de respuesta" 
                                    data-content="Use el peso para indicar la(s) opcion(es) correcta(s). Así:
                                    <br/><b>Para una pregunta con única respuesta</b> ingrese la calificación de la pregunta en el campo 'peso' de la opción correcta y para las demás opciones ingrese 0. 
                                    <br/>Ejemplo: ¿Cristóbal Colón descubrió América? FALSO o VERDADERO. la pregunta vale 5 puntos. Entonces en el peso de la opción FALSO ingrese 0 Y en la opción VERDADERO ingrese 5.
                                    <br/><b>Para una pregunta de múltiples respuestas</b> divida la calificación total de la pregunta en las opciones correctas. 
                                    <br/>Ejemplo: ¿Cuales de estos son instrumentos musicales? a. Guitarra, b. Libro, c. Flauta y d. Teléfono. La pregunta vale 5 puntos. Entonces en las opciones a y c ingrese como peso 2.5 y en las demas ingrese 0.
                                    <br/><b>Para una pregunta donde no se desea hacer calificación</b> simplemente ingrese 0 en todas las opciones de respuesta.">                                
                                </i>
                            </li>
                            <li>
                                <input type="text" name="opciones[]" class="input-large span9" style="display:inline;"/>
                                peso:
                                <input type="text" name="peso[]" value="0" class="input-large span1" style="display:inline;"/>
                            </li>
                        </ol>
                    </div>
                    {{ form_errors(form) }}
                    {{ form_widget(form._token) }}
                    <div class="control-group" style="margin-bottom: 8px; text-align: right;">
                        <input type="submit" value="Crear pregunta" class="btn btn-primary btn-info"/>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
    
<div class="row-fluid sortable">   
    {# TABLA DE PREGUNTAS #}
    <div class="box span8">
        <div class="box-header well" data-original-title>
            <h2><i class="icon-tasks"></i> Preguntas</h2>
            <div class="box-icon">
                <a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
            </div>
        </div>
        <div class="box-content">
            {% for pregunta in preguntas %}
            <div class="div-pregunta">                
                <div class="row-fluid">
                    <div class="span10">
                        {% if pregunta.preOrden != 0 %}<b style="font-size:16px;">{{ pregunta.preOrden }}</b>.{%  endif %}
                        <span>{{ pregunta.prePregunta }}</span>                    
                    </div>
                    <div class="span2">
                        <a class="btn btn-info btn-mini" href="{{ path("edit_pregunta", {'pid':pregunta.id, 'iid':instrumento.id }) }}" data-rel="tooltip" title="Editar">
                            <i class="icon-edit icon-white"></i>            
                        </a>
                        <a class="btn btn-danger btn-mini btn-delete" href="{{ path("delete_pregunta", {'pid':pregunta.id}) }}" data-remove=".div-pregunta" data-rel="tooltip" title="Eliminar">
                            <i class="icon-trash icon-white"></i>
                        </a>
                    </div>
                </div>
                <div class="row-fluid">
                    {% if pregunta.opciones is defined %}
                        <ol style="margin-left: 50px; margin-top: 20px;">
                            {% for opcion in pregunta.opciones %}
                            <li>{{ opcion.resRespuesta }}    <b style="margin-left: 20px;">Peso:</b> {{ opcion.resPeso }}</li>
                            {% endfor %}
                        </ol>
                    {% else %}
                        <div style="margin-left: 50px; margin-top: 20px;">
                            <span class="label label-info">Pregunta {{ pregunta.tprTipoPregunta }}</span>
                        </div>
                    {% endif %}
                    <hr/>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    
    {# TABLA DE USUARIOS #}
    <div class="box span4">
        <div class="box-header well" data-original-title>
            <h2><i class="icon-user"></i> Usuarios invitados para aplicar</h2>
            <div class="box-icon">
                <a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
            </div>
        </div>
        <div class="box-content">
            
        </div>
    </div>
    
</div>
{% endblock body %}

{% block script %}
<script>
    $(document).ready(function () {
        $('#form_tipoPregunta').on('change', function(){
            
            if($(this).val() == 1) // preguntas abiertas
            {
                $(".div-opciones").hide();
                $("#ol-opciones li input").removeAttr('required');
            }
            else // pregutnas cerradas
            {
                $(".div-opciones").show();
                $("#ol-opciones li input").attr('required','required');
            }
        });
        
        $("#ol-opciones").on('click', '.btn-delete-opcion', function(){
            $(this).parent().remove();
        });
        
        $("#btn-add-opcion").on('click', function(){
            $("#ol-opciones").append('<li><input type="text" name="opciones[]" required="required" class="input-large span9" style="display:inline;" required="required"/> peso: <input type="text" name="peso[]" value="0" class="input-large span1" style="display:inline;" required="required"/> <a class="btn btn-danger btn-mini btn-delete-opcion" data-rel="tooltip" title="Eliminar"><i class="icon-trash icon-white"></i></a></li>');
        });
    });
</script>
{% endblock script %}